<!doctype html>
<html lang="en">
  <head>
  	<title>Home | Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="shortcut icon" href="img/logo.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
	  		<h1><a href="#" class="logo">Helpdesk</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
            <a href="/tiket"><span class="fa fa-sticky-note mr-3"></span> Tiket</a>
          </li>
          <li>
            <a href="/logout" class="user-hover-box">
              <span class="fa fa-user-circle mr-2 default-text "></span>
              <span class="fa fa-sign-out mr-2 hover-text"></span>
              <span class="default-text"> <%= nama %></span>
              <span class="hover-text">Logout</span>
            </a>

          </li>

          
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5 container-fluid">
        <h2 class="mb-4">Halo, <%= nama %></h2>
         <p>Apa Yang Ingin Kamu Lakukan Hari Ini?</p>

         <div class="row">
            <div class="col-6"><div class="card">
  <div class="card-header bg-warning text-white">
    Tiket
  </div>
  <div class="card-body">
    <h5 class="card-title">Ada <%= belum %> tiket yang belum di jawab</h5>
    <p class="card-text">Segera jawab keluhan tiket user</p>
    <a href="/tiket" class="btn btn-primary">Go</a>
  </div>
</div></div>
            <div class="col-6"><div class="card">
  <div class="card-header bg-success text-white">
    Tiket
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= selesai %> tiket sudah di jawab</h5>
    <p class="card-text">Cek Tiket Apa Saja Yang Sudah Selesai</p>
    <a href="/tiket" class="btn btn-primary">Go</a>
  </div>
</div></div>
         </div>
        
      </div>

	</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>